/choropleth-api/__pycache__/
/choropleth-api/.env
/choropleth-api/.venv
/choropleth-api/bootstrap.sh
/choropleth-api/requirements.txt

/choropleth-ui/node_modules
/choropleth-ui/build
/choropleth-ui/.env