.map-outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.map-inner {
  display: table-cell;
  vertical-align: middle;
}

.map {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

path {
  opacity: .8;
}