name: Build and deploy React app to Azure Blob - choropleth

on:
  push:
    branches:
      - main
      
defaults:
  run:
    working-directory: ./choropleth-ui
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [14.x]
        
    steps:
      - uses: actions/checkout@v1
      
      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      # Tests will go here
      
      - name: Build
        run: npm run build
        env:
          REACT_APP_API_URL: https://choropleth.azurewebsites.net/
          
      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v2
        with:
          name: react-app
          path: |
            choropleth-ui/build

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: react-app
          path: .
    
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Upload to blob storage
        uses: azure/CLI@v1
        with:
          azcliversion: 2.0.72
          inlineScript: |
            az storage blob upload-batch --account-name choropleth --auth-mode key -d '$web' -s .
      
      - name: Purge CDN endpoint
        uses: azure/CLI@v1
        with:
          azcliversion: 2.0.72
          inlineScript: |
           az cdn endpoint purge --content-paths  "/*" --profile-name "CDN_PROFILE_NAME" --name "CDN_ENDPOINT" --resource-group "RESOURCE_GROUP"

      - name: logout
        run: |
            az logout
        if: always()
